.background {
    background-image: url(/static/images/other_links_background.jpg);
    margin: 0px 0px 0px 10px;
    width: 265px;
    height: 500px;
    padding: 30px 30px;
    margin-bottom: 30px;
   
}


.background img {
    margin: 5px;
    padding: 0px;
}

article {
    margin-top: -35px;

}

