body {
    background-image: url(/static/images/nza_background.jpg);
}

.container {
    background-color: white;
}

article {
    color: white;
    background-size: absolute;
    background-image: url(/static/images/nav_side.jpg)
}

li {
    list-style-type: none;
}

h6 {
    text-decoration: underline 2px;
    
}

/* I'm editing this out too because it wasn't closed. If you were working on the col class, please edit this. -Justin
.col {
    columns: flex,
        flex-column-reverse */

.btn {
    float: right;
    background-color: lightgray;
    color: white;
    /* margin-right: 25px; */
    border-radius: 0 0 5px 5px;
}

.logo img{
    margin: 75px 0px 40px;
}

header .nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 0 30px;
    text-align: center;
    border-top: solid 3px;
    border-bottom: solid 3px;
}

header .nav-item {
    margin: 0 -5px 0;
}

.nav-item {
    font-weight: 620;
}

.nav-link:hover {
    text-decoration: none;
    color: lightgray
}

nav p {
    color: lightgray;
}

/* This was the old way to have borders in between navs */
/* nav ul li {
    border-right: solid lightgray;
} */

nav ul li a {
    color: black;
}

footer .nav {
    border-top: solid 3px;
    padding: 0 7% 0;
}

/* This section inspired by a post in stack overflow */
/* footer nav ul li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

footer nav ul li span {
    background: #fff;
    padding: 0 10px;
} */

.fake-line {
    color: lightgray
}

  /* I don't know what this is so I didn't delete it. -Justin*/
/*    height: 25px;
     margin: auto; */

.second-content {
    color: white;
}


.content-text {
  padding: 20px 15px;
}

.img-fluid {
    max-width: 100%;
    height: 525px;
}

h6 {
    display: flex;
    margin-top: 35px;
}

.third-content {
    font-size: 13px;
}