.where-we-work {
    color: white;
    padding: 20px 10px;
}


h6 {
    display: flex;
    margin-top: 10px;
}

.img {
    width: 90%;
}

.list-one {
    columns: 3;
    column-gap: 10px;
    

}

.list-two{
    margin-top: 25px;
}

.list-one li {
    text-decoration: none;
    list-style-type: none;
    margin-left: -35px;
    

}

.list-two li {

text-decoration: none;
list-style-type: none;
margin-left: -35px;


}

.container{
    display:inline-block;
}





